{% extends 'index.html'%}
<!DOCTYPE html>
<html lang="en">

	{% block content %}
    <body>
        <!-- Top content -->
        <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-7 text">
                        </div>
                        <div class="col-sm-5 form-box">
                        	<div class="form-top">
                        		<div class="form-top-left">
                        			<h3> 注册</h3>
                            		<p>加入城记</p>
                        		</div>
                        		<div class="form-top-right">
                        			<i class="fa fa-pencil"></i>
                        		</div>
                        		<div class="form-top-divider"></div>
                            </div>
                            <div class="form-bottom">
			                    <form role="form" action="" method="post" class="registration-form">
			                    	<div class="form-group">
			                    		<label class="sr-only" for="form-first-name">nickname</label>
			                        	<input type="text" name="form-first-name" placeholder="昵称" class="form-first-name form-control" id="form-first-name">
			                        </div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-last-name">password</label>
			                        	<input type="text" name="form-last-name" placeholder="密码" class="form-last-name form-control" id="form-last-name">
									</div>
									<div class="form-group">
											<label class="sr-only" for="form-last-name">passwodconfirm</label>
											<input type="text" name="form-last-name" placeholder="确认密码" class="form-last-name form-control" id="form-last-name">
										</div>
			                        <div class="form-group">
			                        	<label class="sr-only" for="form-email">Email</label>
			                        	<input type="text" name="form-email" placeholder="Email" class="form-email form-control" id="form-email">
			                        </div>
			                       
			                        <button type="submit" class="btn">注册</button>
			                    </form>
		                    </div>
                        </div>
                    </div>
                </div>
            </div>
            
		</div>
	</body>
	{% endblock content %}

	{% block footer %}
    <footer class="py-5 bg-dark" style="position: absolute; width: 100%; bottom: 0; height: 2px;" >
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Vincent.Zhu 2018</p>
      </div>
      <!-- /.container -->
    </footer>
    {% endblock footer %}

    

</html>